body{
    background-image: url(images/back.jpg);
   
}
#form{
    border:3px outset rgb(202, 188, 219);
    width: 500px;
    height: 350px;
    margin-left: 300px;
    margin-top: 150px;
    background-color: rgb(202, 188, 219);
    border-radius: 10px;
}
#namela{
    margin-left: 10px;
    margin-top: 40px;
}
#tname{
    margin-left: 150px;
    margin-top: -18px;
}
#gen{
    margin-left: 10px;
    margin-top: 20px;
}
#male{
    margin-left: 150px;
    margin-top: -20px;
}
#female{
    margin-left: 220px;
    margin-top: -20px;
}
#new{
    border: 1px outset black ;
    background-color: whitesmoke;
    width: 130px; 
    margin-left: 10px;
    margin-top: -10px;
}
#age{
    margin-left: 10px;
    margin-top: 20px;
}
#atext{
    margin-left: 140px;
    margin-top: -39px;
}
#per{
    margin-left: 10px;
    margin-top: 20px;
}
#ptext{
    margin-left: 150px;
    margin-top: -20px;
}
#los{
    margin-left: 10px;
    margin-top: 20px;
}
#os{
    margin-left: 150px;
    margin-top: -20px;
}
#sage{
    margin-left: 10px;
    margin-top: 20px;
}
#mitext{
    margin-left: 150px;
    margin-top: -20px;
}
#to{
    margin-left: 220px;
    margin-top: -20px;
}
#matext{
    margin-left: 240px;
    margin-top: -20px;
}
#button{
   
    margin-left: 10px;
    margin-top: 10px;
}
#dont{
    margin-left: 220px;
    margin-top: -157px;
}
#nurd{
    margin-top: -350px;
}
#where{
    margin-top: -60px;
}
#css1{
    float: right;
  }
  